* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    position: relative;
    /* min-height: 100%; */
}

/* ----------------Common Styling--------------------------- */
body {
    font-family: Arial, Helvetica, sans-serif;
    /* margin-bottom: 60px; */
    color: #999;
    background: #ccc url("../images/background.png") repeat;
    font-size: 1em;
    line-height: 1em;
}

h1,
h2,
h3 {
    font-family: Georgia, 'Times New Roman', Times, serif;
}

h1 {
    font-size: 1.5em;
}

h2 {
    font-size: 1.2em;
}

.clear {
    clear: both;
}

/* ------------BootStrap Overridden Styles----------- */
.container-fluid {
    padding-left: 0;
    padding-right: 0;
}

a {
    color: #222;
}

a:hover {
    background-color: #386;
    padding: 2px 5px;
    color: #fff;
}

.nav {
    margin-right: 5%;
}

nav {
    background: #ffffff;
    border-bottom: 2px solid #ccc;
}

a.nav-link {
    cursor: pointer;
}

.navbar-brand {
    margin-left: 10%;
}

/* --------------------TopMenu Styling------------------------ */
.topMenu a {
    float: left;
    margin-top: 5px;
    padding: 5px 5px;
}

.topMenu .topName {
    background: #4aaaa5;
    padding: 10px 5px;
    color: #fff;
}

.rightMenu li {
    margin-left: 1%;
    padding-right: 1%;
    margin-top: 5px;
    margin-bottom: 5px;
    border-right: 1px solid #ccc;
}

.rightMenu li:last-child {
    border: none;
}

/* ----------------------Main Outer Section Styling--------------------- */

.outerSectionClass {
    height: auto;
    padding-bottom: 10%;
    background: #ccc url("../images/background.png") repeat;
}

/* ---------------------------About Me Styling-------------------- */
.mainRowClass {
    padding-top: 2%;
}

.divAboutMe {
    height: auto;
    padding-bottom: 8%;
    border: 1px solid #ddd;
    background: #fff;
}

.divAboutMe h2 {
    font-size: 1.5em;
    color: #4aaaa5;
    margin-top: 5%;
    margin-left: 10%;
}

.aboutMeRow {
    padding-bottom: 20px;
    border-bottom: 1px solid #ddd;

}

/* 
.col-md-3 img {
    width: 90%;
    height: auto;
} */

#aboutMeArticle h3 {
    margin-top: 5%;
    margin-bottom: 5%;
    font-size: 1.5em;
}

#aboutMeArticle p {
    margin-top: 10px;
    line-height: 1.8em;
}

/* ---------------------Footer Styling------------------------------- */
footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 50px;
    color: #fff;
    padding-top: 1%;
    background: #666666;
    border-top: 5px solid #4aaaa5;
}


/* ------------------------Contact Styling---------------------------------------- */
.contactContainer {
    width: 90%;
    padding-top: 2%;
}

label {
    margin-bottom: 5px;
}

.form-control {
    padding: 2px 5px;
    height: 30px;
}

#btnSubmit {
    width: 150px;
    background: #4aaaa5;
    color: #fff;
    border: none;
    cursor: pointer;
    font-size: 1.2em;
}



/* -------------------------------Portfolio Page Styling---------------------------------------------------- */
.portfolioRow {
    padding-top: 5%;
}

.imgSectionClass h2 {
    margin-left: 5%;
    width: 90%;
    position: relative;
    font-size: 1.1em;
    padding: 10px;
    bottom: 70px;
    text-align: center;
    background: #4aaaa5;
    color: #fff;
}

.imgSectionClass img {
    width: 90%;
    height: 200px;
}

.imgSectionClass img:hover {
    padding: 2px;
    background: #229;
    cursor: pointer;
    border: 1px solid #000;
}

/*------------------------------- */

div #imgOpenDiv {
    width: 300px;
    height: 300px;
    /* position: absolute; */
    position: fixed;
    display: none;

    /*-----------To keep the image in center of the screen- no matter of screen size------------------------*/
    top: 50%;
    left: 50%;
    margin-left: -150px;
    /*half of width*/
    margin-top: -150px;
    /*half of height */
    /* ----------------------------------------------------- */
    border: 1px solid #000;
    text-align: center;
    background: #e6c684;
    box-shadow: 2px 2px 5px #000;
    border-radius: 10px;

}

#imgOpenDiv header {
    width: 100%;
    height: 30px;
    background: #229;
    color: rgb(240, 235, 235);
    text-align: right;
    padding: 5px 0;
    padding-right: 5px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    margin-bottom: 5px;
}

#imgOpenDiv header span {
    cursor: pointer;
    padding: 5px;
}

#imgOpenDiv header span:hover {
    background: #999;
    color: #000;
}

#divImg {
    width: 90%;
    height: 255px;
    margin-top: 0px;
    margin-right: auto;
}


@media only screen and (max-width:450px) {

    .topMenu a {
        float: none;
        margin-top: 0;
    }
    .navbar-brand{
        margin-left: 0;
    }
    .topMenu .topName{
        width:100%;
        text-align: center;
    }
    .justify-content-end{
        justify-content:center!important;
    }
}