* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

/* ----------------Common Styling--------------------------- */
body {
    font-family: Arial, Helvetica, sans-serif;
    color: #999;
    font-size: 1em;
    line-height: 1em;
}

h1,
h2,
h3 {
    font-family: Georgia, 'Times New Roman', Times, serif;
}

h1 {
    font-size: 1.5em;
}

h2 {
    font-size: 1.2em;
}

.clear {
    clear: both;
}

/* ------------BootStrap Overridden Styles----------- */
.container-fluid {
    padding-left: 0;
    padding-right: 0;
}

a {
    text-decoration: none;
    color: #222;

}

a:hover {
    background-color: #386;
    padding: 2px 5px;
    color: #fff;
}

.nav {
    margin-right: 5%;

}

nav {
    background: #ffffff;
    border-bottom: 2px solid #ccc;
}

a.nav-link {
    cursor: pointer;
}

.navbar-brand {
    margin-left: 10%;
}

/* --------------------TopMenu Styling------------------------ */
.topMenu a {
    float: left;
    margin-top: 5px;
    padding: 5px 5px;
}

.topMenu .topName {
    background: #4aaaa5;
    padding: 10px 5px;
    color: #fff;
}

.rightMenu li {
    margin-left: 15px;
    padding-right: 5px;
    margin-top: 5px;
    margin-bottom: 5px;
    border-right: 1px solid #ccc;
}

.rightMenu li:last-child {
    border: none;
}

/* ----------------------Main Outer Section Styling--------------------- */

.outerSectionClass {

    height: auto;
    padding-bottom: 10%;
    background: #ccc url("../images/background.png") repeat;
}

/* ---------------------------About Me Styling-------------------- */
.mainRowClass {
    padding-top: 2%;
}

.divAboutMe {
    height: auto;
    padding-bottom: 8%;
    border: 1px solid #ddd;
    background: #fff;
}

.divAboutMe h2 {
    font-size: 1.5em;
    color: #4aaaa5;
    margin-top: 5%;
    margin-left: 10%;
}
 
.aboutMeRow {
/*    margin-right: 10px;
    margin-left: 10px;*/
     padding-bottom: 20px; 
    border-bottom: 1px solid #ddd;
    
} 

.col-md-3 img {
    width: 90%;
    height: auto;
}

#aboutMeArticle h3 {
    margin-top: 5%;
    margin-bottom: 5%;
    font-size: 1.5em;
}

#aboutMeArticle p {
    margin-top: 10px;
    line-height: 1.8em;
}

/* ---------------------Footer Styling------------------------------- */
footer {
    height: 50px;
    color: #fff;
    padding-top: 1%;
    background: #666666;
    border-top: 5px solid #4aaaa5;
}


/* ------------------------Contact Styling---------------------------------------- */
label {
    margin-bottom: 5px;
}

.form-control {
    padding: 2px 5px;
    height: 30px;
}

#btnSubmit {
    width: 150px;
    background: #4aaaa5;
    color: #fff;
    border: none;
    cursor: pointer;
    font-size: 1.2em;
}



/* --------------------Media Query------------------------ */
/* This styles breaks on point 424px - needs to fix that */

/* ---------------Appled on devices smaller than 768px ----------- */
/* @media only screen and (max-width: 768px) {
    p {
        font-size: 0.8em;
    }

    h1 {
        font-size: 1.2em;
    }

    .divAboutMe h2 {
        font-size: 1.1em;
        margin-left: 0;
    }

    .nav-item a {
        font-size: 0.8em;
    }

    .aboutMeRow {
        padding-bottom: 10px;
    }

    #aboutMeArticle h3 {
        font-size: 1em;
    }

    .col-md-2 {
        width: 16.66%;
    }

    .col-md-3 {
        width: 30%;
    }

    .col-md-3 img {
        width: 100%;
        padding: 0px 0px;
    }

    .col-md-8 {
        width: 66.66%;
        ;
    }

    .col-md-9 {
        width: 70%;
    }
}

 */






/* -------------------------------Portfolio Page Styling---------------------------------------------------- */
.portfolioRow{
    /* margin-left:auto;
    margin-right: auto; */
    padding-top: 2%;
}
/*
.imgSectionClass {
    margin-left: auto;
    margin-right: auto;
}
.imgSectionClass img{
    width: 90%;
    height: auto;
} 
/* .outerSectionPortfolio {
    height: 700px;
}

.innerSectionPortfolio {
    height: 650px;
}
*/
.imgSectionClass h2 {
    margin: 0;
    position: relative;
    font-size: 1.1em;

    padding: 10px;
    bottom: 50px;
    text-align: center;
    background: #4aaaa5;
    color: #fff;

}

.imgSectionClass img {
    width: 100%;
    height: 200px;
} 

/* ------------------------------- */
/* 
#imgOpenDiv {
    width: 500px;
    height: 410px;
    position: absolute;
    display: none;
    top: 100px;
    left: 550px;
    border: 1px solid #000;
    text-align: center;
    background: #e6c684;
    box-shadow: 2px 2px 5px #000;
    border-radius: 10px;

}

#imgOpenDiv header {
    width: 100%;
    height: 30px;
    background: #229;
    color: #000;
    text-align: right;
    padding: 5px 0;
    padding-right: 5px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    margin-bottom: 5px;
}

#imgOpenDiv header span {
    cursor: pointer;
    padding: 5px;

}

#imgOpenDiv header span:hover {
    background: #999;
}

#divImg {
    width: 90%;
    height: 370px;
    margin-top: 0px;
    margin-right: auto;
} */
